.nav{
    background-color: aqua;
    display: flex;
    text-align: center;
    justify-content: center;
    
    gap:20px;
    padding: 20px;
    text-shadow: 2px;
    font-size: large;
    border-radius: 10px;
    margin: 20px;
}
.title{
   
}