.nav{
    background-color: aqua;
    display: flex;
    justify-content: center;
   text-align: center;
      gap:20px;
    padding: 20px;
    text-shadow: 2px;
    font-size: large;
    border-radius: 10px;
    margin: 20px;
}
.title{
    background-color: aqua;
    padding: 20px;
    text-shadow: 2px;
    font-size:xx-large;
    border-radius: 10px;
    margin: 20px;
    font-weight: bolder;
    margin-bottom: 0px;
}